.navbar{
    background: var(--main-color);
    display: block;
    height: 75px;
    padding: 0 100px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    .Box-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        img{

        }
        .nav-links{
            position: relative;
            z-index: 1;
            transition: 0.3s;
            -webkit-transition: 0.3s;
            -moz-transition: 0.3s;
            -ms-transition: 0.3s;
            -o-transition: 0.3s;
            .icon{
                width: 35px;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
                span{
                    background-color: #fff;
                    height: 3px;
                    margin-bottom: 5px;
                    &:first-of-type{
                        width: 100%;
                    }
                    &:nth-child(2){
                        width: 50%;
                    }
                    &:last-of-type{
                        width: 100%;
                    }
                }
            }
            ul{
                display: none;
                position: absolute;
                padding: 0;
                right: -5px;
                top: calc(100% + 8px);
                width: 160px;
                list-style: none;
                background: #f6f6f6;
                border: 2px solid #ccc;
                margin: 0; 
                border-radius: 15px; 
                &::before{
                    content: "";
                    position: absolute;
                    right: 8px;
                    top: -21px;
                    border-width: 10px;
                    border-style: solid;
                    border-color: transparent transparent #ccc transparent;
                }
                li{
                    padding: 10px 30px 10px 14px;
                    transition: 0.3s;
                    -webkit-transition: 0.3s;
                    -moz-transition: 0.3s;
                    -ms-transition: 0.3s;
                    -o-transition: 0.3s;
                    &:not(:last-of-type){
                        border-bottom: 2px solid #ddd;
                    }
                    .link{
                        color: var(--color-font);
                        font-size: 19px;
                        font-weight: 400;
                        &:hover{
                            text-decoration: none;
                        }
                    } 
                    &:hover{
                        padding-left: 30px;
                    }  
                }
            }
            &:hover{
                .icon{
                    span{
                        &:nth-child(2){
                            width: 100%;
                        }
                    }
                }
                ul{
                    display: block;
                }
            }
        }
    }
    @media (max-width: 768px){
        padding: 0 30px;
    }
}